/unpackerr.conf
/unpackerr
/unpackerr*.gz
/unpackerr*.zip
/unpackerr*.1
/unpackerr*.deb
/unpackerr*.rpm
/unpackerr*.txz
/unpackerr.*.arm
/unpackerr.*.exe
/unpackerr.*.macos
/unpackerr.*.linux
/unpackerr.*.freebsd
/unpackerr.rb
*.sha256
/vendor
.DS_Store
*~
/package_build_*
/release
MANUAL
MANUAL.html
README
README.html
/unpackerr_manual.html
/homebrew-mugs

.secret-files.tar
github_deploy_key*
.metadata.make
