# Change this line.
/unpackerr

# JetBrains IDEs: GoLand, IntelliJ, RubyMine, PhpStorm, AppCode, PyCharm, CLion, Android Studio and WebStorm
.idea/*

# The rest is probably fine.
/init/macos/*.app/Contents/MacOS/*
/rsrc*.syso
/*.log
/*.app
/*.conf
/*.gz
/*.zip
/*.upx
/unpackerr*.1
/*.deb
/*.rpm
/*.txz
/*.*.arm
/*.*.exe
/*.*.macos
/*.*.linux
/*.*.freebsd
/*.rb
*.sha256
/vendor
.DS_Store
*~
/package_build_*
/release
MANUAL
MANUAL.html
README
README.html
/*_manual.html
/homebrew-mugs
.secret*files.tar
github_deploy_key*
.metadata.make
/after-install-rendered.sh
/before-remove-rendered.sh
/gpg.signing.key
