/up.conf
/unpacker-poller
/unpacker-poller*.gz
/unpacker-poller*.zip
/unpacker-poller*.1
/unpacker-poller*.deb
/unpacker-poller*.rpm
/unpacker-poller.*.arm
/unpacker-poller.exe
/unpacker-poller.*.macos
/unpacker-poller.*.linux
/unpacker-poller.rb
*.sha256
/vendor
.DS_Store
*~
/package_build_*
/release
MANUAL
MANUAL.html
README
README.html
/unpacker-poller_manual.html
/homebrew-mugs
