# Powered by Application Builder: https://github.com/golift/application-builder
jobs:
  include:
  - os: osx
    osx_image: xcode13.2
    language: go
    go: 1.18.x
  - os: linux
    dist: bionic
    services: docker
    language: go
    go: 1.18.x
git:
  depth: false
addons:
  apt:
    packages:
    - ruby-dev
    - rpm
    - build-essential
    - git
    - libgnome-keyring-dev
    - fakeroot
    - zip
    - debsigs
    - gnupg
    - upx
install:
  - curl -sSfL https://raw.githubusercontent.com/golangci/golangci-lint/master/install.sh | sh -s -- -b $(go env GOPATH)/bin v1.46.2
  - if [ "$TRAVIS_OS_NAME" == "linux" ]; then rvm install 2.6.0; fi
  - if [ "$TRAVIS_OS_NAME" == "linux" ]; then rvm 2.6.0 do gem install --no-document fpm -v 1.11.0; fi
before_script:
  # Create your own deploy key, tar it, and encrypt the file to make this work. Optionally add a bitly_token file to the archive.
  - openssl aes-256-cbc -K $encrypted_772fc4772f04_key -iv $encrypted_772fc4772f04_iv -in .secret_files.tar.enc -out .secret_files.tar -d
  - tar -xf .secret_files.tar
  - gpg --import gpg.signing.key
  - rm -f gpg.signing.key .secret_files.tar
  - source settings.sh
script:
  # Test Go and Docker.
  - make test
  - #if [ "$TRAVIS_OS_NAME" == "linux" ]; then make docker; fi
  # Test built docker image. Docker Rate limits make this fail, so it's commented out.
  - #if [ "$TRAVIS_OS_NAME" == "linux" ]; then docker run $BINARY -v 2>&1 | grep -Eq "^$BINARY, version $VERSION"; fi
  # Build everything
  - if [ "$TRAVIS_OS_NAME" == "linux" ]; then rvm 2.6.0 do make release; fi
  - if [ "$TRAVIS_OS_NAME" == "osx" ];   then make dmg; fi
after_success:
  # Display Release Folder
  - ls -l release/
  # Setup the ssh client so we can clone and push to the homebrew formula repo.
  # You must put github_deploy_file into .secret_files.tar.enc
  # This is an ssh key added to your homebrew forumla repo.
  - |
    mkdir -p $HOME/.ssh
    declare -r SSH_FILE="$(mktemp -u $HOME/.ssh/XXXXX)"
    echo -e "Host github.com\n\tStrictHostKeyChecking no\n" >> $HOME/.ssh/config
    [ ! -f github_deploy_key ] || (mv github_deploy_key $SSH_FILE \
      && chmod 600 "$SSH_FILE" \
      && printf "%s\n" \
        "Host github.com" \
        "  IdentityFile $SSH_FILE" \
        "  StrictHostKeyChecking no" \
        "  LogLevel ERROR" >> $HOME/.ssh/config)
deploy:
  - provider: packagecloud
    repository: "pkgs"
    username: "golift"
    token:
      secure: "aSgftmry/omgN1oEgKY2HczFcdE95qRoF0J+koTBw/iu9cr5Sdj1/4pNHBKb1ehah5CrjLJZs9EYu95sFwDTWWbSmhrth6tb1BJRSKXmQAxFSHLKVlI+nQlU75i+CyLJuLn4s/6efFCP8vQmRa+AAbZ5jFSTFph8Mcj+tYB1PxSpyZPeutbsbSxjzO40skwEMdiUUrrxl8lwzRzqjheimdumtpccpRTnKSj6eMcj1Dq5W+J+RoI2/lCc45OmPy+wsbaPiUBDf4yINhom9/t8XeDBUCjmZ87CjfsqkA2LcVxwqti1qrrBeW4q3UI4vzRa/gUoG3k8cgJmoVVFmBPgducLSD5zpOADY88ZtGQCJMurIY6zSxRPGHTy1t9pCstYun/HILbtkrEJoxqGjpVglczGkq1ZHerFgUydAF2AdTuupy2t9NsYmgcZk7b1wWgMimDfLpEcvGCtDja86f9WCjh5LeTcnWsKMKKp5RMvbSxlGnCItz35VLYBw6yPz0e6wInhQRPIShBsTinMxagaheVvLJm+gwPC4SLsLY25/jweN1JtsXkD757Y6trjNyzg/y9ZourHU12g6MxDQCLfaedDcy//0fjb9XyizB+NmKhBO5Xfv82iJ7XxpF7HFGyBdgi2fg7Zp7jVhHb3sD/srlk+LyrjmnZanmUolNSL3g0="
    dist: "ubuntu/focal"
    local-dir: release
    package_glob: "*.deb"
    skip_cleanup: true
    cleanup: false
    on:
      tags: true
      condition: "$TRAVIS_OS_NAME = linux"
  - provider: packagecloud
    repository: "pkgs"
    username: "golift"
    token:
      secure: "aSgftmry/omgN1oEgKY2HczFcdE95qRoF0J+koTBw/iu9cr5Sdj1/4pNHBKb1ehah5CrjLJZs9EYu95sFwDTWWbSmhrth6tb1BJRSKXmQAxFSHLKVlI+nQlU75i+CyLJuLn4s/6efFCP8vQmRa+AAbZ5jFSTFph8Mcj+tYB1PxSpyZPeutbsbSxjzO40skwEMdiUUrrxl8lwzRzqjheimdumtpccpRTnKSj6eMcj1Dq5W+J+RoI2/lCc45OmPy+wsbaPiUBDf4yINhom9/t8XeDBUCjmZ87CjfsqkA2LcVxwqti1qrrBeW4q3UI4vzRa/gUoG3k8cgJmoVVFmBPgducLSD5zpOADY88ZtGQCJMurIY6zSxRPGHTy1t9pCstYun/HILbtkrEJoxqGjpVglczGkq1ZHerFgUydAF2AdTuupy2t9NsYmgcZk7b1wWgMimDfLpEcvGCtDja86f9WCjh5LeTcnWsKMKKp5RMvbSxlGnCItz35VLYBw6yPz0e6wInhQRPIShBsTinMxagaheVvLJm+gwPC4SLsLY25/jweN1JtsXkD757Y6trjNyzg/y9ZourHU12g6MxDQCLfaedDcy//0fjb9XyizB+NmKhBO5Xfv82iJ7XxpF7HFGyBdgi2fg7Zp7jVhHb3sD/srlk+LyrjmnZanmUolNSL3g0="
    dist: "el/6"
    local-dir: release
    package_glob: "*.rpm"
    skip_cleanup: true
    cleanup: false
    on:
      tags: true
      condition: "$TRAVIS_OS_NAME = linux"
  - provider: releases
    overwrite: true
    skip_cleanup: true
    cleanup: false
    file_glob: true
    token:
      # to get a secure api key, run: travis setup releases
      # make a copy of this file first because that command will change it.
      # or: make a new key manually at https://github.com/settings/tokens/new
      # then: echo <NEW_KEY_FROM_GH> | travis encrypt
      secure: GAU7o2KZuhl9pfUcZD/Nz1/67ridwVBXH/L4vtHGtD+xso+28t6M123RMFLVVXtH6x5b8pS+x7wqJp2cL319hhklMRfa6JOx3H9tG0CrChzvokYAeM91qPznIs/QyWKCK3Jgf0ABzqHJmCeQCbMdV9ydDSY/HYCBin+Ny14cFcPawXFu/85wpnmqc68BG0Gji12nn8fA4iESDDUKsKC7qOFwYe2cN4p48eHF+g+LRDQv6+aKoGDHP1JFW4TR/VdwzJ0uK+lZ7JSZXS92fl6rjIBUjFLrrZrN2oqIM1DBGEcP0K4x1u4Ia1yRx1Af8MBpZpH3+bbcc93NLFtEphHZzsEYySao7PfhIECcSLv4LoXuZXGGNzEKWxYmV8wiule1UaTPt62hV2KBB4rj99h0lH5BQ/eq8SZ1py/1HJyi1ps0ouxvktVMc0iRrSK8Gf3qscYsq1KGku2VNDF6btIP20b86DGsKQjIdi58Wn8Zyo1s07SpnHCpE+F5xM6hl180vtqnNqaCKcFtvi12jCSWKc5uDYnx/sCRPQsxcS/dFp4SmUhGmfYbB5/h0uJWxJpOlubUlExoN218ovRgbXFlGp8mkAlKv3IlWNYqV2o0h3SxaCA7i0Bo+pemQRjsXU7zgjBgVoLozrxPYF31fwo81i8cBJ7jW72qmlFxSXAPICE=
    file: release/*
    on:
      tags: true
  - provider: script
    script: bash scripts/formula-deploy.sh
    on:
      tags: true
      condition: "$TRAVIS_OS_NAME = linux"
