pkgbase = unpackerr
	pkgdesc = {{Desc}}
	pkgver = {{VERSION}}
	pkgrel = {{Iter}}
	url = https:/golift.io/unpackerr
	install = unpackerr.aur.install
	arch = x86_64
	arch = arm
	arch = armv6h
	arch = armv7h
	arch = aarch64
	arch = i686
	arch = pentium4
	license = MIT
	makedepends = go
	makedepends = make
	backup = etc/unpackerr/unpackerr.conf
	source = unpackerr-{{VERSION}}.tar.gz::{{SOURCE_PATH}}
	sha256sums = {{SHA256}}

pkgname = unpackerr
