# untested, feedback welcomed.
[Unit]
Description=Unpacker Poller - Polls Deluge to extract completed downloads
After=network.target
Requires=network.target

[Service]
ExecStart=/usr/bin/unpacker-poller --config=/etc/unpacker-poller/up.conf $DAEMON_OPTS
EnvironmentFile=-/etc/default/unpacker-poller
EnvironmentFile=-/etc/sysconfig/unpacker-poller
Restart=on-failure
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=unpacker-poller
Type=simple
User=nobody

[Install]
WantedBy=multi-user.target
