### Unpackerr docker-compose.yml Example
### Please read this page for help using this example:
### https://unpackerr.zip/docs/install/compose
### Generator: https://notifiarr.com/unpackerr
##################################################################
services:
  ## Copy the service below to your file if you have other services.
  unpackerr:
    image: golift/unpackerr
    container_name: unpackerr
    volumes:
      # You need at least this one volume mapped so Unpackerr can find your files to extract.
      # Make sure this matches your Starr apps; the folder mount (/downloads or /data) should be identical.
      - /mnt/HostDownloads:/downloads
      # OPTIONAL: If using mTLS certificates, mount the certificate directory.
      # - /path/to/certs:/certs:ro
    restart: always
    # Get the user:group correct so unpackerr can read and write to your files.
    user: ${PUID}:${PGID}
    #user: 1000:100
    # What you see below are defaults mixed with examples where examples make more sense than the default.
    # You only need to modify things specific to your environment.
    # Remove apps and feature configs you do not use or need.
    # ie. Remove all lines that begin with UN_CMDHOOK, UN_WEBHOOK,
    #     UN_FOLDER, UN_WEBSERVER, and other apps you do not use.
    environment:
    - TZ=${TZ}
    ## Global Settings
    - UN_DEBUG=false
    - UN_QUIET=false
    - UN_ERROR_STDERR=false
    - UN_ACTIVITY=false
    - UN_LOG_QUEUES=1m
    - UN_LOG_FILE=/downloads/unpackerr.log
    - UN_LOG_FILES=10
    - UN_LOG_FILE_MB=10
    - UN_LOG_FILE_MODE=0600
    - UN_INTERVAL=2m
    - UN_START_DELAY=1m
    - UN_RETRY_DELAY=5m
    - UN_MAX_RETRIES=3
    - UN_PARALLEL=1
    - UN_FILE_MODE=0644
    - UN_DIR_MODE=0755
    ## Web Server
    - UN_WEBSERVER_METRICS=false
    - UN_WEBSERVER_LISTEN_ADDR=0.0.0.0:5656
    - UN_WEBSERVER_LOG_FILE=
    - UN_WEBSERVER_LOG_FILES=10
    - UN_WEBSERVER_LOG_FILE_MB=10
    - UN_WEBSERVER_SSL_CERT_FILE=
    - UN_WEBSERVER_SSL_KEY_FILE=
    - UN_WEBSERVER_URLBASE=/
    - UN_WEBSERVER_UPSTREAMS=
    ## Folder Settings
    - UN_FOLDERS_INTERVAL=1s
    - UN_FOLDERS_BUFFER=20000
    ## Sonarr Settings
    - UN_SONARR_0_URL=http://sonarr:8989
    - UN_SONARR_0_API_KEY=0123456789abcdef0123456789abcdef
    - UN_SONARR_0_PATHS_0=/downloads
    - UN_SONARR_0_PROTOCOLS=torrent
    - UN_SONARR_0_TIMEOUT=10s
    - UN_SONARR_0_DELETE_DELAY=5m
    - UN_SONARR_0_DELETE_ORIG=false
    - UN_SONARR_0_SYNCTHING=false
    - UN_SONARR_0_TLS_CLIENT_CERT=/path/to/client.crt
    - UN_SONARR_0_TLS_CLIENT_KEY=/path/to/client.key
    - UN_SONARR_0_TLS_CA_CERT=/path/to/ca-bundle.crt
    ## Radarr Settings
    - UN_RADARR_0_URL=http://radarr:7878
    - UN_RADARR_0_API_KEY=0123456789abcdef0123456789abcdef
    - UN_RADARR_0_PATHS_0=/downloads
    - UN_RADARR_0_PROTOCOLS=torrent
    - UN_RADARR_0_TIMEOUT=10s
    - UN_RADARR_0_DELETE_DELAY=5m
    - UN_RADARR_0_DELETE_ORIG=false
    - UN_RADARR_0_SYNCTHING=false
    - UN_RADARR_0_TLS_CLIENT_CERT=/path/to/client.crt
    - UN_RADARR_0_TLS_CLIENT_KEY=/path/to/client.key
    - UN_RADARR_0_TLS_CA_CERT=/path/to/ca-bundle.crt
    ## Lidarr Settings
    - UN_LIDARR_0_URL=http://lidarr:8686
    - UN_LIDARR_0_API_KEY=0123456789abcdef0123456789abcdef
    - UN_LIDARR_0_PATHS_0=/downloads
    - UN_LIDARR_0_PROTOCOLS=torrent
    - UN_LIDARR_0_TIMEOUT=10s
    - UN_LIDARR_0_DELETE_DELAY=5m
    - UN_LIDARR_0_DELETE_ORIG=false
    - UN_LIDARR_0_SYNCTHING=false
    - UN_LIDARR_0_TLS_CLIENT_CERT=/path/to/client.crt
    - UN_LIDARR_0_TLS_CLIENT_KEY=/path/to/client.key
    - UN_LIDARR_0_TLS_CA_CERT=/path/to/ca-bundle.crt
    ## Readarr Settings
    - UN_READARR_0_URL=http://readarr:8787
    - UN_READARR_0_API_KEY=0123456789abcdef0123456789abcdef
    - UN_READARR_0_PATHS_0=/downloads
    - UN_READARR_0_PROTOCOLS=torrent
    - UN_READARR_0_TIMEOUT=10s
    - UN_READARR_0_DELETE_DELAY=5m
    - UN_READARR_0_DELETE_ORIG=false
    - UN_READARR_0_SYNCTHING=false
    - UN_READARR_0_TLS_CLIENT_CERT=/path/to/client.crt
    - UN_READARR_0_TLS_CLIENT_KEY=/path/to/client.key
    - UN_READARR_0_TLS_CA_CERT=/path/to/ca-bundle.crt
    ## Whisparr Settings
    - UN_WHISPARR_0_URL=http://whisparr:6969
    - UN_WHISPARR_0_API_KEY=0123456789abcdef0123456789abcdef
    - UN_WHISPARR_0_PATHS_0=/downloads
    - UN_WHISPARR_0_PROTOCOLS=torrent
    - UN_WHISPARR_0_TIMEOUT=10s
    - UN_WHISPARR_0_DELETE_DELAY=5m
    - UN_WHISPARR_0_DELETE_ORIG=false
    - UN_WHISPARR_0_SYNCTHING=false
    - UN_WHISPARR_0_TLS_CLIENT_CERT=/path/to/client.crt
    - UN_WHISPARR_0_TLS_CLIENT_KEY=/path/to/client.key
    - UN_WHISPARR_0_TLS_CA_CERT=/path/to/ca-bundle.crt
    ## Watch Folders
    - UN_FOLDER_0_PATH=/downloads/auto_extract
    - UN_FOLDER_0_EXTRACT_PATH=
    - UN_FOLDER_0_DELETE_AFTER=10m
    - UN_FOLDER_0_DISABLE_RECURSION=false
    - UN_FOLDER_0_DELETE_FILES=false
    - UN_FOLDER_0_DELETE_ORIGINAL=false
    - UN_FOLDER_0_DISABLE_LOG=false
    - UN_FOLDER_0_MOVE_BACK=false
    - UN_FOLDER_0_EXTRACT_ISOS=false
    ## Web Hooks
    - UN_WEBHOOK_0_URL=https://notifiarr.com/api/v1/notification/unpackerr/api_key_from_notifiarr_com
    - UN_WEBHOOK_0_NAME=
    - UN_WEBHOOK_0_SILENT=false
    - UN_WEBHOOK_0_EVENTS_0=1
    - UN_WEBHOOK_0_EVENTS_1=4
    - UN_WEBHOOK_0_EVENTS_2=6
    - UN_WEBHOOK_0_NICKNAME=Unpackerr
    - UN_WEBHOOK_0_CHANNEL=
    - UN_WEBHOOK_0_EXCLUDE_0=readarr
    - UN_WEBHOOK_0_EXCLUDE_1=lidarr
    - UN_WEBHOOK_0_TEMPLATE_PATH=
    - UN_WEBHOOK_0_TEMPLATE=
    - UN_WEBHOOK_0_IGNORE_SSL=false
    - UN_WEBHOOK_0_TIMEOUT=10s
    - UN_WEBHOOK_0_CONTENT_TYPE=application/json
    ## Command Hooks
    - UN_CMDHOOK_0_COMMAND=/downloads/scripts/command.sh
    - UN_CMDHOOK_0_NAME=
    - UN_CMDHOOK_0_SHELL=false
    - UN_CMDHOOK_0_SILENT=false
    - UN_CMDHOOK_0_EVENTS_0=1
    - UN_CMDHOOK_0_EVENTS_1=4
    - UN_CMDHOOK_0_EVENTS_2=7
    - UN_CMDHOOK_0_EXCLUDE_0=readarr
    - UN_CMDHOOK_0_EXCLUDE_1=lidarr
    - UN_CMDHOOK_0_TIMEOUT=10s

## => Content Auto Generated, 28 AUG 2025 20:00 UTC
