# Unpackerr Example Configuration File

# [true/false] Turn on debug messages in the output. Do not wrap this in quotes.
# Recommend trying this so you know what it looks like. I personally leave it on.
debug = false

# How often to poll sonarr and radarr.
# Recommend 2m-10m. Uses Go Duration.
interval = "2m"

# How long to wait for a reply from the backends: Sonarr, Radarr, Lidarr.
# This can also be set per-app. Uses Go Duration.
timeout = "10s"

# How long ago a file must have been imported before deletion. The file must
# also not be part of an active queue item. Set this to "1m" to make sure files
# are deleted quickly after being imported. Recommend "5m". Uses Go Duration.
delete_delay = "5m"

# How long an item must be queued (download complete) before extraction will start.
# One minute is the historic default and works well. Set higher if your downloads
# take longer to finalize (or transfer locally).
start_delay = "1m"

# How long to wait before removing the history for a failed extraction.
# Once the history is deleted the item will be recognized as new and
# extraction will start again.
retry_delay = "5m"

# How many files may be extracted in parallel. 1 works fine in most cases.
# Do not wrap the number in quotes.
parallel = 1

# The following sections can be repeated if you have more than one Sonarr, Radarr or Lidarr.

#[[sonarr]]
#   url = "http://127.0.0.1:8989"
#   api_key = "cb3afda6559445f1ae1d0299dd696e38"
   # File system path where downloaded Sonarr items are located.
#   path = "/downloads"

#[[radarr]]
#  url = "http://127.0.0.1:7878"
#  api_key = "4bc34281deda4846a2fdab2c15bc8de8"
  # File system path where downloaded Radarr items are located.
#  path = "/downloads"

#[[lidarr]]
#  url = "http://127.0.0.1:8686"
#  api_key = "32454256defd484ab2fdab2c15bc17af"

#[[folder]]
#  path = "/some/folder/to/watch"
  # Delete extracted items this long after extraction. Set to 0 to disable.
#  delete_after = "10m"
  # Delete original items after successful extraction? true/false, no quotes.
#  delete_original = false
  # Move extracted files into original folder? If false, files go into an _unpacked folder.
#  move_back = false
